<div id = "header" >
<header :class="{ 'lg:pt-5': !$store.xHeaderMenu.isSticky, 'open-menu': $store.xHeaderMenu.overlay }" x-on:mouseleave="$store.xHeaderMenu.closeMenu()">
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if settings.enable_search %}
    <div class="flex items-center justify-center mobile-left-right">
      <div x-data="xModalSearch({
        types: '{{ settings.search_results }}',
        limit: {{ settings.desktop_maximun_results | json }}
        })"
        x-init="if($store.xModal.activeElement =='SearchOpen') {
                  open();
                  $store.xHeaderMenu.closeMenu();
                }"
        x-on:click.away="close();"
        @keyup.escape="
        close();
        $store.xModal.removeFocus();" 
        class="header-search flex lg:flex items-center justify-center">
        <a id="SearchOpen" href="{{ routes.search_url }}" aria-label="search" class="flex items-center cursor-pointer justify-center link focus-inset bg-none"
           @click.prevent="
           $nextTick(() => {
              $store.xModal.setActiveElement('SearchOpen'); 
              open(); 
              $store.xHeaderMenu.closeMenu();
           })">
          <span class="w-10 h-10 pl-3 pr-3 pt-2 pb-2">
            <svg class="icon-animation icon-animation" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
              <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M11.192 20.223C16.5 20.223 20.803 15.92 20.803 10.612S16.5 1 11.192 1 1.58 5.303 1.58 10.612s4.304 9.611 9.612 9.611 M17.706 18.301 22.405 23"></path>
            </svg>
          </span>
        </a>
        <div id="FromSearch" x-show="isOpen" x-transition x-ref="open_search" class=" x-search-popup bg-white shadow-sm lg:shadow-none absolute top-0 left-0 right-0 z-50 gradient transition-all duration-300 ease-in-out">
          <div class="pb-16 pl-5 pr-5 lg:pl-24 lg:pr-24 pt-14 lg:pb-16 flex items-center justify-center w-full h-full relative lg:shadow-sm text-[rgb(var(--colors-text-header))]" tabindex="-1">
            <div class="relative max-w-6xl w-full" data-loading-text="Loading...">
              <div class="max-w-[62rem] mr-auto ml--auto w-full">
                <div class=" border-color relative field rtl:flex-row-reverse rtl:md:flex-row pr-5 lg:pr-0 flex pl-5 lg:pl-o">
                  <form if="form-search-header-search-block" class="grow" action="{{ routes.search_url }}" method="get" role="search">
                    <input
                      x-data="xSearchPrompts($el, ['{{ settings.prompt_text_1 }}', '{{ settings.prompt_text_2 }}', '{{ settings.prompt_text_3 }}'], true)" x-init="initSearchPrompt()" autofocus @focus="focusForm()"
                      x-model="query" @input.debounce.300ms="fetchResults" class="peer input-search focus-visible:outline-none pt-4 pb-4 border-b pr-[4.5rem] pl-4 lg:pl-2 lg:pr-20 text-left w-full appearance-none relative outline-none bg-transparent placeholder:text-current placeholder:opacity-60" type="search" name="q" value=""  placeholder="">
                    <script>
                      document.addEventListener('alpine:init', () => {
                        Alpine.data('xSearchPrompts', (el, prompts = [], loop = true) => ({
                          el,
                          prompts: prompts.filter(p => p && p.trim() !== ''),
                          loop,

                          index: 0,
                          text: '',
                          isDeleting: false,
                          isRunning: true,

                          typingSpeed: 70,
                          deletingSpeed: 40,
                          delay: 1500,

                          init() {
                            this.$watch('query', (value) => {
                              if (value) {
                                this.stop();
                                this.el.setAttribute('placeholder', '');
                              } else {
                                this.restart();
                              }
                            });
                          },

                          initSearchPrompt() {
                            if (!this.prompts.length) return;
                            this.run();
                          },

                          run() {
                            if (!this.isRunning || this.el.value) return;
                            const current = this.prompts[this.index];
                            if (this.isDeleting) {
                              this.text = current.substring(0, this.text.length - 1);
                            } else {
                              this.text = current.substring(0, this.text.length + 1);
                            }
                              this.el.setAttribute('placeholder', this.text);

                            let speed = this.isDeleting ? this.deletingSpeed : this.typingSpeed;

                            if (!this.isDeleting && this.text === current) {
                              speed = this.delay;
                              this.isDeleting = true;
                            } else if (this.isDeleting && this.text === '') {
                              this.isDeleting = false;
                              this.index++;

                              if (this.index >= this.prompts.length) {
                                if (this.loop) {
                                  this.index = 0;
                                } else {
                                  this.isRunning = false;
                                  return;
                                }
                              }
                            }
                            setTimeout(() => this.run(), speed);
                          },
                          focusForm() {
                            if (this.el.value) {
                            this.stop();
                            this.el.setAttribute('placeholder', '');
                            }
                          },

                          stop() {
                            this.isRunning = false;
                          },

                          restart() {
                            if (!this.isRunning) {
                            this.isRunning = true;
                            this.run();
                            }
                          }
                        }))
                      })
                    </script>
                    <button class="btn-search absolute none_border w-7 h-7 pt-1 pb-1 pl-1 pr-1 top-1/2 -translate-y-1/2 opacity-60 bg-none text-current lg:right-2 right-7" aria-label="Search">
                      <svg class="icon-animation icon-animation" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
                        <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M11.192 20.223C16.5 20.223 20.803 15.92 20.803 10.612S16.5 1 11.192 1 1.58 5.303 1.58 10.612s4.304 9.611 9.612 9.611 M17.706 18.301 22.405 23"></path>
                      </svg>
                    </button>
                    <div id="search-result" class="md:max-h-96 absolute top-[calc(100%+12px)] w-full left-0" tabindex="-1" data-predictive-search>
                    </div> 
                  </form>  
                </div>  
              </div>
            </div>
            <button id="SearchClose" aria-label="Search close" class="icon-close-container rounded-full cursor-pointer w-fit absolute top-2 right-2 opacity-60" 
              x-on:click="
                close();
                $store.xModal.removeFocus();
              ">
              <svg class="icon-close-animation" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L23 23M23 1L1 23" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener('alpine:init', () => {
          Alpine.data('xModalSearch', (config) => ({
            query: '',
            types: config.types,
            limit: config.limit,
            isOpen: false,

            open() {
              this.isOpen = true;
            },
            close() {
              this.isOpen = false;
            },
            async fetchResults() {
              console.log(this.query);
              if (!this.query) return
              const res = await fetch(`${window.Shopify.routes.root}search/suggest?q=${this.query}&resources[type]=${this.types}&resources[limit]=${this.limit}&section_id=predictive-search`);
              const text = await res.text();
              const newResult = new DOMParser().parseFromString(text, 'text/html').querySelector('#shopify-section-predictive-search').innerHTML;
              const result = document.querySelector('#search-result');
              if( result ) {
                console.log(result);
                result.innerHTML = newResult
              }
            }
          }))
        })
      </script>
    </div>
    {% endif %}
    {% if shop.customer_accounts_enabled %}
      <shopify-account menu="{{ section.settings.customer_account_menu }}">
        {{ 'icon-account.svg' | inline_asset_content }}
      </shopify-account>
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <label class="cart-item-count">{{ cart.item_count }}</label>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>

</header>
</div>
{% stylesheet %}

  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header a label {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: var(--color-foreground);
    color: var(--color-background);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    overflow: visible;
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  button.icon-close-container {
    background-color: rgba(31,31,31, .3);
    color: rgba(31,31,31, 1);
    padding: 12px;
  }
  .x-search-popup.popup-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .5s height cubic-bezier(.73, .32, .34, 1.5), .2s .1s opacity, .2s visibility, transform 1s cubic-bezier(.19, 1, .22, 1);
  }
  .x-search-popup {
    height: 175px;
    opacity: 1;
    visibility: visible;
    transition: .5s height cubic-bezier(.73, .32, .34, 1.5), .2s .1s opacity, .2s visibility, transform 1s cubic-bezier(.19, 1, .22, 1);
  }
  .icon-close-animation {
    width: 16px;
    height: 16px;
    transition: transform .5s cubic-bezier(0.3, 1, 0.3, 1) ;
  }
  .icon-close-container:hover .icon-close-animation {
  transform: rotate(180deg);
  }
  .outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .border-color {
    border-color: rgba(238, 238, 238, 1)
  }
  .border-b {
    border-bottom-width: 1px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:labels.customer_account_menu",
      "default": "customer-account-main-menu"
    }
  ]
}
{% endschema %}
