
{% if predictive_search.performed %}
  <div class="background-header search-page:bg-[rgba(255,255,255)] shadow-[0_0_6px_-4px_rgba(31,31,31)] pt-6 pb-7">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.products.size > 0 or predictive_search.resources.pages.size > 0 or predictive_search.resources.collections.size > 0 or predictive_search.resources.articles.size > 0  %}
        <div id="predictive-search-results" class="overflow-auto max-h-[60vh] search-page:max-h-[45vh] scrollbar-body">
            <div class="content-results-vertical">
                <div class="predictive-search-results-list search-result-query-and-page grow lg:flex">
                    <div class="query-and-page-content flex-1">
                        {% if predictive_search.resources.queries.size > 0 %}
                            <h2 class="predictive-search-heading pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2 md:pb-5 uppercase pt-6 lg:pt-2 body-text-base-size">Suggestions</h2>
                            <ul class="predictive-result-item predictive-search-results-list grid grid-cols-1 gap-5 pl-6 pr-6 lg:pl-10 lg:pr-10 pb-7" role="group" aria-labelledby="predictive-search-queries">                               
                                {% for query in predictive_search.resources.queries %}
                                    <li class="predictive-search__list-item" role="option" aria-selected="false">
                                        <a href="{{ query.url }}" class="search_heading predictive-search-item nav-link hover-text-link relative">
                                            <span>{{ query.text }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                
                            </ul>
                        {% endif %}
                    </div>
                    <div class="line-spacing flex-shrink-0"></div>
                    <div class="query-and-page-content flex-1">
                        {% if predictive_search.resources.pages.size > 0 %}
                            <h2 class="predictive-search-heading pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2 md:pb-5 uppercase pt-6 lg:pt-2 body-text-base-size">Pages</h2>
                            <div class="predictive-result-item pb-7 pl-6 pr-6 lg:pl-10 lg:pr-10 gap-5">
                                {% for page in predictive_search.resources.pages %}
                                    <div class="block">
                                        <a href="{{ page.url }}" class="search_heading predictive-search-item nav-link relative hover-text-link">
                                            <p>{{ page.title }}</p>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            
                        {% endif %}
                    </div>
                </div>
                <div class="border-t flex-shrink-0"></div>
                <div class="predictive-search-results-list predictive-search-others lg:flex lg:pt-5">
                    <div class="flex-1">
                        {% if predictive_search.resources.products.size > 0 %}      
                            <h2 class="predictive-search-heading pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2 md:pb-5 uppercase pt-6 lg:pt-2 body-text-base-size">Products</h2>
                            <ul role="listbox" aria-labelledby="predictive-search-products" class="predictive-result-item grid grid-cols-1 gap-2 pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2.5">
                                {% for product in predictive_search.resources.products %}
                                    <li class="pt-2 pb-2" role="option" aria-selected="false">
                                        <a href="{{ product.url }}" class="flex gap-4 relative disable-effect h-full">
                                            <div class="w-24 relative">
                                                <div class="relative overflow-hidden w-full float-left before:h-0 before:block before:pb-[100.0%]"> 
                                                    <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full"> 
                                                        {% if product.featured_image %}
                                                            {{ product.featured_image | image_url: width: 100 | image_tag: 
                                                                class: 'w-full h-full object-cover',
                                                                loading: 'lazy'}}
                                                        {% else %}
                                                            {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-1">
                                                <div class="mb-2">
                                                    <p class="p-break-words leading-tight duration-200 transition hover-text-link text-[rgba(31,31,31)]">{{ product.title  }}</p>
                                                </div>
                                                {% if settings.show_price %}
                                                    <div class="price leading-none">
                                                        <s class="cap rtl:inline-block price-compare rtl:leading-tight text-[80%]" > {{ product.compare_at_price | money}} </s>
                                                        <span class="price-scale selection:bg-text-[rgb(112,36,36,0.2)] ml-1 rtl:mr-1 rtl:ml-0">{{ product.price | money }} </span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="line-spacing flex-shrink-0"></div>
                    <div class="flex-1">
                        {% if predictive_search.resources.collections.size > 0 %}
                            <h2 class="predictive-search-heading flex-1 pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2 md:pb-5 uppercase pt-6 lg:pt-2 body-text-base-size">Collections</h2>
                            <div class="predictive-result-item flex-1 pb-2.5 pl-6 pr-6 lg:pl-10 lg:pr-10 gap-2">     
                                {% for collection in predictive_search.resources.collections %}
                                    <div class="block pt-2 pb-2"> 
                                        <a href="{{ collection.url }}" class="flex relative disable-effect h-full">
                                            <div class="w-24 relative">
                                                <div class="relative overflow-hidden w-full float-left before:h-0 before:block before:pb-[75%]">
                                                    <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full"> 
                                                        {% if collection.featured_image %}
                                                            {{ collection.featured_image | image_url: width: 100 | image_tag: 
                                                            class: 'w-full h-full object-cover absolute left-0 z-0 image-hover',
                                                            loading: 'lazy'}}
                                                        {% else %}
                                                            {{ 'product-1' | placeholder_svg_tag: 'absolute w-full h-full object-cover left-0 z-0 image-hover bg-[#c9c9c9]' }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pt-2 ml-5 flex-1">
                                                <p class="search_heading hover-text-link disable-effect p-break-words leading-tight duration-200 transition hover-text-link text-[rgba(31,31,31)]">{{ collection.title }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        {% endif %}
                    </div>
                    <div class="line-spacing flex-shrink-0"></div>
                    <div class="flex-1">
                        {% if predictive_search.resources.articles.size > 0 %}
                                <h2 class="predictive-search-heading pl-6 pr-6 lg:pl-10 lg:pr-10 pb-2 md:pb-5 uppercase pt-6 lg:pt-2 body-text-base-size">Articles</h2>
                                <div class="predictive-result-item flex-1 pb-2.5 pl-6 pr-6 lg:pl-10 lg:pr-10 gap-2">
                                
                                    {% for article in predictive_search.resources.articles %}
                                        <div class="block pt-2 pb-2">
                                            <a href="{{ article.url }}" class="flex relative disable-effect h-full">
                                                <div class="w-24 relative"> 
                                                    <div class="relative overflow-hidden w-full float-left before:h-0 before:block before:pb-[75%]">
                                                        <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full">
                                                            {% if article.image %}
                                                                {{ article.image | image_url: width: 100 | image_tag: 
                                                                class: 'w-full h-full object-cover absolute left-0 z-0 image-hover',
                                                                loading: 'lazy'}}
                                                            {% else %}
                                                                {{ 'product-1' | placeholder_svg_tag: 'absolute w-full h-full object-cover left-0 z-0 image-hover bg-[#c9c9c9]' }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pt-1 ml-5 flex-1">
                                                    <p class="search_heading line-clamp-2 hover-text-link disable-effect p-break-words leading-tight duration-200 transition hover-text-link text-[rgba(31,31,31)]">{{ article.title }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                
                                </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        {% if settings.show_view_more_button %}
            <a href="{{ routes.search }}" pt-5 pb-5 pl-6 pr-6 border-solid rounded-none inline-block cursor-pointer text-center w-full text-current border-t>
                View all
            </a>
        {% endif %}
    {% else %}
        <div id="predictive-search-results" class="overflow-auto max-h-[60vh] mobile-dock:max-h-[40vh] search-page:max-h-[45vh] scrollbar-body"> 
            <div>
                <div class="text-center pt-5 pb-5 pl-5 pr-5" data-predictive-search-live-region-count-value>
                    No results found for “{{ predictive_search.terms }}”. Check the spelling or use a different word or phrase.  
                </div>
            </div>
        </div>
    {% endif %}
  </div>
{% endif %}