<div class="text-columns-with-images section">
  <div class="page-width">
    {% if section.settings.section_heading != blank %}
      <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
    {% endif %}
    <div class="grid grid--{{ section.settings.column_layout_on_desktop }}-up">
      {% for block in section.blocks %}
        <div class="gid__item text-columns-with-images__column text-columns-with-images__column--{{ section.settings.column_content_alignment }} text-columns-with-images__column--image-{{ section.settings.image_position }}">
          {% if block.settings.column_image != blank %}
            <img width="100%" height="auto" loading="lazy" src="{{ block.settings.column_image | image_url: width: 500 }}" alt="{{ block.settings.column_heading }}">
          {% endif %}
          {% if block.settings.column_heading != blank %}
            <h3>{{ block.settings.column_heading }}</h3>
          {% endif %}
          {% if block.settings.column_text != blank %}
            <div class="column-text">{{ block.settings.column_text }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Text columns with images",
    "tag": "section",
    "class": "text-columns-with-images",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
        "type": "paragraph",
        "content": "Learn [how to use] this section."
        },
        {
        "type": "text",
        "id": "section_heading",
        "label": "Heading",
        "default": "Text columns with images",
        "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text."
        },
        {
            "type": "select",
            "id": "heading_marker",
            "label": "Heading marker",
            "options": [
                {
                    "value": "underline",
                    "label": "Underline"
                },
                {
                    "value": "font_highlight",
                    "label": "FontHighlight"
                }
            ],
            "default": "underline"
        },
        {
             "type": "range",
             "id": "heading_size",
             "label": "Heading size",
             "min": 50,
             "max": 200,
             "step": 10,
             "unit": "%",
             "default": 100
        },
        {
        "type": "select",
        "id": "heading_tag",
        "label": "Heading tag",
        "options": [
            {
                "value": "h1",
                "label": "H1"
            },
            {
                "value": "h2",
                "label": "H2"
            },
            {
                "value": "h3",
                "label": "H3"
            },
            {
                "value": "h4",
                "label": "H4"
            },
            {
                "value": "h5",
                "label": "H5"
            },
            {
                "value": "h6",
                "label": "H6"
            },
            {
                "value": "p",
                "label": "p"
            }
        ],
        },
        {
        "type": "select",
        "id": "secondary_background",
        "label": "Secondary background",
        "options": [
            {
            "value": "none",
            "label": "None"
            },
            {
                "value": "column_background",
                "label": "Column background"
            },
            {
                "value": "section_background",
                "label": "Section background"
            }
        ]
        },
        {
        "type": "select",
        "id": "image_style",
        "label": "Image style",
        "options": [
            {
                "value": "square",
                "label": "Square (1:1)"
            },
            {
                "value": "rectangle",
                "label": "Rectangle (4:3)"
            },
            {
                "value": "landscape",
                "label": "Landscape (16:9)"
            },
            {
                "value": "standard",
                "label": "Standard (3:4)"
            },
            {
                "value": "round",
                "label": "Round"
            },
            {
                "value": "natural",
                "label": "Natural"
            }
        ],
        "default": "square"
        },
        {
        "type": "checkbox",
        "id": "adapt_to_edges_style_in_theme_settings",
        "label": "Adapt to edges style in theme settings",
        "default": true
        },
        {
        "type": "checkbox",
        "id": "enable_rounded_corners",
        "label": "Enable rounded corners",
        "default": false,
        "visible_if": "{{ section.settings.adapt_to_edges_style_in_theme_settings == false }}"
        },
        {
            "type": "select",
            "id": "column_content_alignment",
            "label": "Column content alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "background_color_light",
            "label": "Background color (light)",
        },
        {
            "type": "color",
            "id": "heading_color_light",
            "label": "Heading color (light)",
        },
        {
            "type": "color",
            "id": "text_color_light",
            "label": "Text color (light)",
        },
        {
            "type": "color",
            "id": "heading_highlight_color_light",
            "label": "Heading highlight color (light)",
        },
                {
            "type": "color",
            "id": "background_color_dark",
            "label": "Background color (dark)",
        },
        {
            "type": "color",
            "id": "heading_color_dark",
            "label": "Heading color (dark)",
        },
        {
            "type": "color",
            "id": "text_color_dark",
            "label": "Text color (dark)",
        },
        {
            "type": "color",
            "id": "heading_highlight_color_dark",
            "label": "Heading highlight color (dark)",
        },
        {
            "type": "header",
            "content": "Carousel",
        },
        {
            "type": "checkbox",
            "id": "enable_carousel_on_desktop",
            "label": "Enable carousel on desktop",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_swipe_on_mobile",
            "label": "Enable swipe on mobile",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_next_previous_arrows_on_mobile",
            "label": "Enable next/previous arrows on mobile",
            "default": false,
            "visible_if": "{{ section.settings.enable_swipe_on_mobile }}"
        },
        {
            "type": "checkbox",
            "id": "enable_auto_play",
            "label": "Enable auto-play",
            "default": false
        },
        {
            "type": "range",
            "id": "change_bar_every",
            "label": "Change bar every",
            "min": 3,
            "max": 10,
            "step": 1,
            "unit": "s",
            "default": 5,
            "visible_if": "{{ section.settings.enable_auto_play }}"
        },
        {
            "type":"header",
            "content": "Desktop layout",
        },
        {   
            "type": "select",
            "id": "image_position_desktop",
            "label": "Image position",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top",
        },
        {
            "type": "select",
            "id": "column_layout_on_desktop",
            "label": "Column layout on desktop",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                },
                {
                    "value": "3",
                    "label": "3 columns"
                },
                {
                    "value": "4",
                    "label": "4 columns"
                }
            ],
            "default": "3"
        },
        {
            "type": "range",
            "id": "block_spacing_desktop",
            "label": "Block spacing",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "checkbox",
            "id": "make_section_full_width_desktop",
            "label": "Make section full width",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_side_padding",
            "label": "Enable side padding",
            "default": false,
            "visible_if": "{{ section.settings.make_section_full_width_desktop}}",
            "info": "Add left and right padding when section is full-width."
        },
        { 
            "type": "checkbox",
            "id": "show_section_divider_desktop",
            "label": "Show section divider",
            "default": false
        },
        {
            "type": "range",
            "id": "top_padding_desktop",
            "label": "Top padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "range",
            "id": "bottom_padding_desktop",
            "label": "Bottom padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "header",
            "content": "Mobile layout",
        },
        {   
            "type": "select",
            "id": "image_position_mobile",
            "label": "Image position",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top",
        },
        {
            "type": "select",
            "id": "column_layout_on_mobile",
            "label": "Column layout on mobile",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                }
            ],
            "default": "1"
        },
        {
            "type": "range",
            "id": "block_spacing_mobile",
            "label": "Block spacing",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 16
        },
        {
            "type": "checkbox",
            "id": "make_section_full_width_mobile",
            "label": "Make section full width",
            "default": false
        },
        { 
            "type": "checkbox",
            "id": "show_section_divider_mobile",
            "label": "Show section divider",
            "default": false
        },
        {
            "type": "range",
            "id": "top_padding_mobile",
            "label": "Top padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "bottom_padding_mobile",
            "label": "Bottom padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
// theme settings
    ],
    "blocks": [
        {
        "type": "column",
        "name": "Column",
        "settings": [
            {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image",
            "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section). Use a transparent background image to emphasixe crucial element, such as highlighted ingredient or important material."
            },
            {
            "type": "url",
            "id": "image_url",
            "label": "Image link"
            },
            {
            "type": "checkbox",
            "id": "open_this_link_in_a_new_window",
            "label": "Open this link in a new window"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
            },
            {
            "type": "text",
            "id": "column_heading",
            "label": "Heading",
            "info": "Wrap your text between [] to add heading highlights. E,g: Adding [maker] will underline [highlight] text.",
            "default": "Column"
            },
            {
                "type": "select",
                "id": "marker",
                "label": "Marker",
                "options": [
                    {
                        "value": "underline",
                        "label": "Underline"
                    },
                    {
                        "value": "font_highlight",
                        "label": "FontHighlight"
                    }
                ],
                "default": "underline",
            },
            {
                "type": "range",
                "id": "heading_size",
                "label": "Heading size",
                "min": 50,
                "max": 200,
                "step": 10,
                "unit": "%",
                "default": 100,
            },
            {
            "type": "inline_richtext",
            "id": "column_text",
            "label": "Text",
            "default": "Pair text wwith an image to focus on your chosen product, collection, or blog post."
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button link"
            },
            {
                "type": "checkbox",
                "id": "open_button_link_in_a_new_window",
                "label": "Open button link in a new window"
            },
            {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
                {
                "value": "primary",
                "label": "Primary"
                },
                {
                "value": "secondary",
                "label": "Secondary"
                },
                {
                "value": "text_link",
                "label": "Text Link"
                }
            ],
            "default": "primary"
            }
        ]
        }

    ],
    "presets": [
        {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
            {
                "type":"column"
            },
            {
                "type":"column"
            },
            {
                "type":"column"
            }
        ]
        },
    ]
}
{% endschema %}