{% style %}
  .page-width {
    max-width: calc(var(--page-width) + 40px);
    margin-right:auto;
    margin-left:auto;
    padding-right:1.25rem;
    padding-left:1.25rem;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.top_padding_desktop }}px;
    padding-bottom: {{ section.settings.bottom_padding_desktop }}px;
  }

  .text-columns-with-images__heading {
    font-size: calc({{ section.settings.heading_size }} /100 * 2.7rem) ;
  }

  .button--primary {
    border: none;
    background-color: rgb(38, 61, 48);
    color: rgb(255, 255, 255);
  }
  .button--secondary {
    border: 1px solid rgb(38, 61, 48);
    background-color: transparent;
    color: rgb(31, 31, 31);
  }

  .spinner {
    margin: 0 auto;
  }

  .bg-section {
    background-color: {% if section.settings.secondary_background == 'section_background' %} {{ section.settings.background_color_light }} {% else %} transparent {% endif %};
  }
  .bg-column {
    background-color: {% if section.settings.secondary_background == 'column_background' %} {{ section.settings.background_color_light }} {% else %} transparent {% endif %};
  }

  .h1, .h2, .h3, .h4, .h5, .h6, .p {
    
    text-transform: none;
    font-family: Cormorant, serif;
    font-weight: 400;
    font-style: normal;
    overflow-wrap: break-word;
    color: rgba(31, 31, 31);
    line-height: 1.25;
  }

  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat({{ section.settings.column_layout_on_desktop }}, 1fr);
    gap: {{ section.settings.block_spacing_desktop }}px;
  }

  .text-columns-with-images__column-content--left{  text-align: left; }
  .text-columns-with-images__column-content--right{  text-align: right; }
  .text-columns-with-images__column-content--center{  text-align: center; }
  
  .text-columns-with-images__image-style--square {
    aspect-ratio: 1 / 1;
  }
  .text-columns-with-images__image-style--rectangle {
    aspect-ratio: 4 / 3;
  }
  .text-columns-with-images__image-style--landscape {
    aspect-ratio: 16 / 9;
  }
  .text-columns-with-images__image-style--standard {
    aspect-ratio: 3 / 4;
  }
  .text-columns-with-images__image-style--round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  .text-columns-with-images__image-style--natural {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.top_padding_mobile }}px;
    padding-bottom: {{ section.settings.bottom_padding_mobile }}px;
  }

  .text-columns-with-images__heading {
    font-size: calc({{ section.settings.heading_size }}/ 100 * 1.62rem);
  }
  .grid {
    display: grid;
    grid-template-columns: unset;
    justify-content: left; 
    grid-auto-flow: column;
    grid-auto-columns: {{ 100 | divided_by: section.settings.column_layout_on_mobile }}%; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: {{ section.settings.block_spacing_mobile }}px;
  }

  }


{% endstyle %}


<div class="bg-section text-columns-with-images section section-{{ section.id }}-padding {% if section.settings.enable_carousel_on_desktop %}carousel{% endif %} {% if section.settings.enable_swipe_on_mobile %}swipe{% endif %} {% if section.settings.enable_next_previous_arrows_on_mobile %}next-previous-arrows{% endif %} {% if section.settings.make_section_full_width_desktop %}full-width-desktop{% endif %} {% if section.settings.make_section_full_width_mobile %}full-width-mobile{% endif %}">
  <div class="page-width pr-5 pl-5">
    {% if section.settings.section_heading != blank %}
      <div class="pb-3 md:pb-8">
        <div class="text-columns-with-images__heading text-center h2">{{ section.settings.section_heading }}</div>
      </div>
    {% endif %}
        <div class="grid">
            {% for block in section.blocks %}
                <div class=" flex {% if section.settings.image_position_mobile == 'top' %}flex-col{% else %}flex-col-reverse{% endif %} {% if section.settings.image_position_desktop == 'top' %}md:flex-col{% else %}md:flex-col-reverse{% endif %} bg-column text-columns-with-images__column-content--{{ section.settings.column_content_alignment }}">
                    <div class =" text-columns-with-images__image text-columns-with-images__image-style--{{ section.settings.image_style }} object-cover overflow-hidden">
                        {% if block.settings.column_image != blank or block.settings.image_url != blank or block.settings.linked_product != blank or block.settings.linked_collection != blank %}
                            {% assign column_image_url = block.settings.linked_product.featured_image | default: block.settings.linked_collection.image | default: block.settings.image_url | default: block.settings.column_image %}
                                {{ column_image_url |image_url: width: 2000 | image_tag:
                                    widths: '225,375,450,600,750,900,1100,1500,1780,2000',
                                    sizes: '(min-width: 1024px) 466px, (min-width: 768px) calc((100vw - 5rem)/2), calc(100vw/1)',
                                    class: 'w-full h-full top-0 left-0 object-cover',
                                    loading: 'lazy'
                                }}
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full top-0 left-0 object-cover bg-[#c9c9c9] text-[#acacac]' }}
                        {% endif %}
                    </div>
                    <div class="grow md:pl-7 md:pr-7 pl-5 pr-5 pt-4 md:pb-3 pb-2">
                        {% if block.settings.column_heading != blank %}
                            <p class="h3" style="font-size: calc({{ block.settings.heading_size }}/100 * 1.35rem);">{{ block.settings.column_heading }}</p>
                        {% endif %}
                        {% if block.settings.column_text != blank %}
                            <p class="text-columns-with-images__column-content">{{ block.settings.column_text }}</p>
                        {% endif %}
                        {% if block.settings.button_label != blank and block.settings.linked_product == empty and block.settings.linked_collection == empty  %}
                            <button  class="w-full pb-3 pt-3 cursor-pointer transition-transform duration-300 ease-in hover:scale-95 hover:opacity-90 button--{{ block.settings.button_style }}"
                                onclick="window.open('{{ block.settings.button_url | default: '#' }}', '{% if block.settings.open_button_link_in_a_new_window %}_blank{% else %}_self{% endif %}')"
                                {% if block.settings.open_button_link_in_a_new_window %} target="_blank" rel="noopener"{% endif %}>
                                {{ block.settings.button_label }}
                            </button>
                        {% endif %}
                        {% if block.settings.linked_product != blank %}
                            {% if block.settings.linked_product.variants_count == 1 %}
                              <div x-data >
                                <button class="add-to-cart-button cursor-pointer transition-transform duration-300 ease-in hover:scale-95 hover:opacity-90 w-full pb-3 pt-3 button--{{ block.settings.button_style }}" 
                                    data-variant-id="{{ block.settings.linked_product.selected_or_first_available_variant.id }}"
                                    @click="$store.cart.addToCart($el.dataset.variantId)"
                                >
                                    {% if block.settings.linked_product.selected_or_first_available_variant.available %}
                                        <span x-show="!$store.cart.loading" class="button-text">Add to cart</span>
                                        <div x-show="$store.cart.loading" class="spinner block w-5 h-5 animate-spin border-solid border-2 border-white border-t-solid border-t-2 border-t-blue-300 rounded-full "></div>
                                    {% else %}
                                        <span class="button-text">Sold out </span>
                                    {% endif %}
                                </button>
                                {% comment %} <script>
                                    document.addEventListener('alpine:init',() => {
                                        Alpine.data('addToCart',() => ({
                                            loading: false,
        async addToCart(variantId) {
            this.loading = true;

            try {
                const response = await fetch(window.Shopify.routes.root + 'cart/add.js' + '?sections=cart,items-on-cart,header', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        items: [
                            {
                                id: variantId,
                                quantity: 1
                            }
                        ]
                    })
                });
                console.log('Add to cart response:', response);

                if (response.ok) {
                    const data = await response.json();
                    console.log('Product added to cart:', data);
                    const header = document.querySelector('#header');
                    if (header) {
                        header.outerHTML = data.sections.header;
                    }

                    const itemOnCart = document.querySelector('.cart-drawer__content');
                    console.log('Cart drawer element:', itemOnCart);
                    if (itemOnCart) {
                        itemOnCart.outerHTML = data.sections['items-on-cart'];
                        
                    }

                    showNotification('Sản phẩm đã thêm vào giỏ hàng', 'success');
                    {% comment %} openCartDrawer(); {% endcomment %}
                }
            } catch (error) {
                console.log(error);
                showNotification('Lỗi: ' + error.message, 'error');
            } finally {
                this.loading = false;
                this.open_cart_drawer = true;
            }
        },

                                        }))
                                    
                                    })

                                </script> {% endcomment %}
                              </div>
                            {% else %}
                                <button class="w-full pb-3 pt-3 cursor-pointer transition-transform duration-300 ease-in hover:scale-95 hover:opacity-90 button--{{ block.settings.button_style }}"
                                        onclick="window.open('{{ block.settings.linked_product.url }}', '{% if block.settings.open_button_link_in_a_new_window %}_blank{% else %}_self{% endif %}')"`
                                        {% if block.settings.open_button_link_in_a_new_window %} target="_blank" rel="noopener"{% endif %}>
                                    <span class="button-text">View product</span>
                                    <div class="spinner w-5 h-5 hidden animate-spin border-solid border-2 border-white border-t-solid border-t-2 border-t-blue-300 rounded-full"></div>
                                </button>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
  </div>
</div>
<div x-data="{ open: false, toggle() { this.open = ! this.open } }">
    <button @click="toggle()">Toggle Content</button>
 
    <div x-show="open">
        Content...
    </div>
</div>

{% schema %}
{
    "name": "Text columns with images",
    "tag": "section",
    "class": "text-columns-with-images",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
        "type": "paragraph",
        "content": "Learn [how to use] this section."
        },
        {
        "type": "text",
        "id": "section_heading",
        "label": "Heading",
        "default": "Text columns with images",
        "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text."
        },
        {
            "type": "select",
            "id": "heading_marker",
            "label": "Heading marker",
            "options": [
                {
                    "value": "underline",
                    "label": "Underline"
                },
                {
                    "value": "font_highlight",
                    "label": "FontHighlight"
                }
            ],
            "default": "underline"
        },
        {
             "type": "range",
             "id": "heading_size",
             "label": "Heading size",
             "min": 50,
             "max": 200,
             "step": 10,
             "unit": "%",
             "default": 100
        },
        {
        "type": "select",
        "id": "heading_tag",
        "label": "Heading tag",
        "options": [
            {
                "value": "h1",
                "label": "H1"
            },
            {
                "value": "h2",
                "label": "H2"
            },
            {
                "value": "h3",
                "label": "H3"
            },
            {
                "value": "h4",
                "label": "H4"
            },
            {
                "value": "h5",
                "label": "H5"
            },
            {
                "value": "h6",
                "label": "H6"
            },
            {
                "value": "p",
                "label": "p"
            }
        ],
        "default": "h2"
        },
        {
        "type": "select",
        "id": "secondary_background",
        "label": "Secondary background",
        "options": [
            {
            "value": "none",
            "label": "None"
            },
            {
                "value": "column_background",
                "label": "Column background"
            },
            {
                "value": "section_background",
                "label": "Section background"
            }
        ]
        },
        {
        "type": "select",
        "id": "image_style",
        "label": "Image style",
        "options": [
            {
                "value": "square",
                "label": "Square (1:1)"
            },
            {
                "value": "rectangle",
                "label": "Rectangle (4:3)"
            },
            {
                "value": "landscape",
                "label": "Landscape (16:9)"
            },
            {
                "value": "standard",
                "label": "Standard (3:4)"
            },
            {
                "value": "round",
                "label": "Round"
            },
            {
                "value": "natural",
                "label": "Natural"
            }
        ],
        "default": "square"
        },
        {
        "type": "checkbox",
        "id": "adapt_to_edges_style_in_theme_settings",
        "label": "Adapt to edges style in theme settings",
        "default": true
        },
        {
        "type": "checkbox",
        "id": "enable_rounded_corners",
        "label": "Enable rounded corners",
        "default": false,
        "visible_if": "{{ section.settings.adapt_to_edges_style_in_theme_settings == false }}"
        },
        {
            "type": "select",
            "id": "column_content_alignment",
            "label": "Column content alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "background_color_light",
            "label": "Background color (light)",
        },
        {
            "type": "color",
            "id": "heading_color_light",
            "label": "Heading color (light)",
        },
        {
            "type": "color",
            "id": "text_color_light",
            "label": "Text color (light)",
        },
        {
            "type": "color",
            "id": "heading_highlight_color_light",
            "label": "Heading highlight color (light)",
        },
                {
            "type": "color",
            "id": "background_color_dark",
            "label": "Background color (dark)",
        },
        {
            "type": "color",
            "id": "heading_color_dark",
            "label": "Heading color (dark)",
        },
        {
            "type": "color",
            "id": "text_color_dark",
            "label": "Text color (dark)",
        },
        {
            "type": "color",
            "id": "heading_highlight_color_dark",
            "label": "Heading highlight color (dark)",
        },
        {
            "type": "header",
            "content": "Carousel",
        },
        {
            "type": "checkbox",
            "id": "enable_carousel_on_desktop",
            "label": "Enable carousel on desktop",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_swipe_on_mobile",
            "label": "Enable swipe on mobile",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_next_previous_arrows_on_mobile",
            "label": "Enable next/previous arrows on mobile",
            "default": false,
            "visible_if": "{{ section.settings.enable_swipe_on_mobile }}"
        },
        {
            "type": "checkbox",
            "id": "enable_auto_play",
            "label": "Enable auto-play",
            "default": false
        },
        {
            "type": "range",
            "id": "change_bar_every",
            "label": "Change bar every",
            "min": 3,
            "max": 10,
            "step": 1,
            "unit": "s",
            "default": 5,
            "visible_if": "{{ section.settings.enable_auto_play }}"
        },
        {
            "type":"header",
            "content": "Desktop layout",
        },
        {   
            "type": "select",
            "id": "image_position_desktop",
            "label": "Image position",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top",
        },
        {
            "type": "select",
            "id": "column_layout_on_desktop",
            "label": "Column layout on desktop",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                },
                {
                    "value": "3",
                    "label": "3 columns"
                },
                {
                    "value": "4",
                    "label": "4 columns"
                }
            ],
            "default": "3"
        },
        {
            "type": "range",
            "id": "block_spacing_desktop",
            "label": "Block spacing",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "checkbox",
            "id": "make_section_full_width_desktop",
            "label": "Make section full width",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_side_padding",
            "label": "Enable side padding",
            "default": false,
            "visible_if": "{{ section.settings.make_section_full_width_desktop}}",
            "info": "Add left and right padding when section is full-width."
        },
        { 
            "type": "checkbox",
            "id": "show_section_divider_desktop",
            "label": "Show section divider",
            "default": false
        },
        {
            "type": "range",
            "id": "top_padding_desktop",
            "label": "Top padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "range",
            "id": "bottom_padding_desktop",
            "label": "Bottom padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 28
        },
        {
            "type": "header",
            "content": "Mobile layout",
        },
        {   
            "type": "select",
            "id": "image_position_mobile",
            "label": "Image position",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top",
        },
        {
            "type": "select",
            "id": "column_layout_on_mobile",
            "label": "Column layout on mobile",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                }
            ],
            "default": "1"
        },
        {
            "type": "range",
            "id": "block_spacing_mobile",
            "label": "Block spacing",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 16
        },
        {
            "type": "checkbox",
            "id": "make_section_full_width_mobile",
            "label": "Make section full width",
            "default": false
        },
        { 
            "type": "checkbox",
            "id": "show_section_divider_mobile",
            "label": "Show section divider",
            "default": false
        },
        {
            "type": "range",
            "id": "top_padding_mobile",
            "label": "Top padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "bottom_padding_mobile",
            "label": "Bottom padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
// theme settings
    ],
    "blocks": [
        {
        "type": "column",
        "name": "Column",
        "settings": [
            {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image",
            "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section). Use a transparent background image to emphasixe crucial element, such as highlighted ingredient or important material."
            },
            {
            "type": "url",
            "id": "image_url",
            "label": "Image link"
            },
            {
            "type": "product",
            "id": "linked_product",
            "label": "Linked product"
            },
            {
            "type": "collection",
            "id": "linked_collection",
            "label": "Linked collection"
            },
            {
            "type": "checkbox",
            "id": "open_this_link_in_a_new_window",
            "label": "Open this link in a new window"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
            },
            {
            "type": "text",
            "id": "column_heading",
            "label": "Heading",
            "info": "Wrap your text between [] to add heading highlights. E,g: Adding [maker] will underline [highlight] text.",
            "default": "Column"
            },
            {
                "type": "select",
                "id": "marker",
                "label": "Marker",
                "options": [
                    {
                        "value": "underline",
                        "label": "Underline"
                    },
                    {
                        "value": "font_highlight",
                        "label": "FontHighlight"
                    }
                ],
                "default": "underline",
            },
            {
                "type": "range",
                "id": "heading_size",
                "label": "Heading size",
                "min": 50,
                "max": 200,
                "step": 10,
                "unit": "%",
                "default": 100,
            },
            {
            "type": "inline_richtext",
            "id": "column_text",
            "label": "Text",
            "default": "Pair text with an image to focus on your chosen product, collection, or blog post."
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button link"
            },
            {
                "type": "checkbox",
                "id": "open_button_link_in_a_new_window",
                "label": "Open button link in a new window"
            },
            {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
                {
                "value": "primary",
                "label": "Primary"
                },
                {
                "value": "secondary",
                "label": "Secondary"
                },
                {
                "value": "text_link",
                "label": "Text Link"
                }
            ],
            "default": "primary"
            }
        ]
        }

    ],
    "presets": [
        {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
            {
                "type":"column"
            },
            {
                "type":"column"
            },
            {
                "type":"column"
            }
        ]
        },
    ]
}
{% endschema %}